config:
  outputs: |
    [OUTPUT]
        Name        http
        Match       *
        Host        log-analyzer
        Port        8080
        URI         /ingest
        Format      json

  # Exclude logging ns
  inputs: |
    [INPUT]
        Name tail
        Path /var/log/containers/*.log
        Exclude_Path      /var/log/containers/*_logging_*.log
        multiline.parser docker, cri
        Tag kube.*
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On

    [INPUT]
        Name systemd
        Tag host.*
        Systemd_Filter _SYSTEMD_UNIT=kubelet.service
        Read_From_Tail On